{% extends "base.html" %}
{% block title %}Tag {{ tag.title }}{% endblock %}
{% block body %}
<div class="col-lg-9">
    <h2>{{ tag.title }}</h2>
    {% for post in posts %}
        <li><a href="{{ url_for('.post', post_id=post.id) }}">{{ post.title }}</a></li>
    {% endfor %}
</div>
<div class="col-lg-3">
    <div class="row">
        <h5>Recent Posts</h5>
        <ul>
            {% for post in recent %}
                <li><a href="{{ url_for('.post', post_id=post.id) }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <h5>Popular Tags</h5>
        <ul>
            {% for tag in top_tags %}
                <li><a href="{{ url_for('.tag', tag_name=tag[0].title) }}">{{ tag[0].title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
